
.App {
  text-align: center;
}


.TransactionComponent{

}

.dropzone {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  cursor: pointer;
  height: 150px;
  width: 400px;
  border: 2px dashed cyan;
  outline: none;
}

.dropzoneReject {
  border: 2px dashed rgb(255, 0, 0);
}
.dropzoneAccept {
  border: 2px dashed green;
}

/* .homepage{
  
} */
/* .test{
  border: 2px dashed red;  
} */

.innerInfo{
  text-align: center;
}

.application{
  padding-top: 80px;
  
}

.innerInfo{
  border: 1px dashed orange;
  min-height: 500px;
  min-width:80%;
}
.pichatPlusInfo{
  border: 2px dashed green;
}
.rowBoxOne{
  border: 2px dashed purple;
  min-height: 300px;
  
}


.rowBoxTwo{
  border: 2px dashed purple;
  min-height: 300px;
}

.transactionInfoList{
  border: 2px dashed green;
  min-height: 200px;
}

.rowBoxTwoInfo{
  border: 2px dashed green;
  text-align: center;
  padding: 5px;
  height: auto;
  width: 90%;
  margin: 10px;
}

.navigationBar{
  display: flex;
  margin: 10px 10px 15px 10px;
  
}

.loginBtn button{
  /* //move left */
  float: right;
  margin: 15px 10px 0px 0px;
  padding: 9x 10px 9px 10px;
}

.middleT{
  z-index: 0px;
  padding: 10px;
}




/* NAV BAR  CSS */


#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}